.menu-table
{
    width: 100%;
}

.qswitch
{
    text-align: right;
    align: right;
}

.qlinks
{
}

.input-submit
{
    border: 1px black solid;
    cursor: hand;
    background-color:#808080;
}

.input-text
{
	border: 1px black solid;
	background-color: #C0D2C1;
}

body
{
	background-color: #CCDDDD;
	padding: 10px;
	margin: 10px;
}

.input-select
{
	background-color: #C0D2C1;
	border : 1px black solid;
}

.txt-table
{
    background-color: #000000;
    border-width: 0px;
    border-spacing: 1px;
    padding: 0px;
    margin: auto;
    overflow: hidden;
}

.txt-table TH
{
    background-color: #4ECF9B;
    overflow: hidden;
}

.odd-row
{
    background-color: #CACACA;
    overflow: hidden;
}

.even-row
{
    background-color: #9B9B9B;
    overflow: hidden;
}

.red-row
{
    background-color: #FF5C5C;
}

.red
{
    background-color: #FF5C5C;
    padding: 5px;
    font-weight: bold;
}

.dlg-table
{
}

.field-title
{
    font-weight: bold;
}

.feedback-form
{
    padding: 5px;
    background-color: #CACACA;
}

.span-form
{
}
